@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// General
$desktop: 100px;
$variable-columns: false;

// Colors
$orange: #fba858;

$primary: $orange;
$link: #209e91;
$link-hover: #0e776d;
$footer-background-color: #35383a;

// Navbar
$navbar-item-img-max-height: 50px;
$custom-navbar-heigth: 66px;

// Box
$box-shadow: none;