@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// General
$desktop: 100px;

// Colors
$orange: #fba858;

$primary: $orange;

// Navbar
$navbar-item-img-max-height: 50px;
$custom-navbar-heigth: 66px;

// Box
$box-shadow: none;